
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(197, 191, 187); 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  display: flex;
  justify-content: center; 
  padding: 10px 0;
}

nav {
  width: 100%;
  max-width: 1200px; 
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}


nav ul {
  display: flex;
  list-style-type: none; 
  width: 100%;
  justify-content: space-evenly; 
  padding: 0;
  margin: 0;
  background-color: rgb(197, 191, 187);
  color: azure;
}

nav ul li {
  cursor: pointer;
  font-size: 16px;
  padding: 3px 10px;
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 5px; 
}

nav ul li a {
  text-decoration: none;
  color: azure; 
  font-weight: bold; 
  display: block;
}

nav ul li:hover {
  background-color: white;
  color: chocolate;
  border-radius: 10px; 
}

nav ul li a.active {
  background-color: white;
  color: chocolate;
  border-radius: 10px; 
  padding: 3px 10px;
}


body {
  padding-top: 60px; 
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column; 
    align-items: center;
    gap: 10px;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    width: 100%; 
  }
}
