ul {
  padding: 0;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: rgb(94, 89, 23);
  color: azure;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

li {
  cursor: pointer;
  padding: 10px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

li:hover {
  background-color: white;
  color: rgb(210, 207, 30);
  border-radius: 10px;
}

.link {
  text-decoration: none;
  color: azure;
}

.link.active {
  font-weight: bold;
  color: white;
}
